replicaCount: 2

image:
  repository: ghcr.io/moel1001/document-service
  tag: "832ed1b6ec7caf7222b3c4150de12cd8921e8d5f"
  pullPolicy: IfNotPresent

service:
  port: 8000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
