replicaCount: 2

image:
  repository: ghcr.io/moel1001/document-service
  tag: "8c0b06d70f54cc0f02838d6c6fa083692ae0cfba"
  pullPolicy: IfNotPresent

service:
  port: 8000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
