replicaCount: 2

image:
  repository: ghcr.io/moel1001/document-service
  tag: "4467a0a68fefdf896995ee16cd2a4bc7a53627af"
  pullPolicy: IfNotPresent

service:
  port: 8000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
