image:
  repository: ghcr.io/moel1001/document-service
  tag: "latest"
  pullPolicy: Always

service:
  port: 8000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi
